/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Main Theme */
  --mt-dark: #3d4142;
  --mt-light: #fffff2;

  --mt-dark-offset: #515758;
  --mt-light-offset: #e2e2cf;

  /* Class Div's */
  --cd-turqoise: #489595;
  --cd-salmon: #c58288;
  --cd-blue: #5c8cbd;
  --cd-mustard: #d4c66b;
  --cd-lilac: #b78fbc;
  --cd-orange: #e5a56e;

  /* Accent Colors */
  --ac-links: #cda2c9;
  --ac-links-highlight: #edb3e7;
}

/* semantic color variables for this project */
:root {
  --background: var(--mt-light);
  --text: var(--mt-dark);
  --text-offset: var(--mt-dark-offset);

  --focused: #cccc;
  transition: --focused 0.3s ease;
}

:root[data-theme='dark'] {
  --background: var(--mt-dark);
  --text: var(--mt-light);
  --text-offset: var(--mt-light-offset);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.woff2') format('woff2'),
       url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Italic.woff2') format('woff2'),
       url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Bold.woff2') format('woff2'),
       url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
       url('./opendyslexic-0.91.12/compiled/OpenDyslexic-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


body {
  /* Behaviour ------------------------*/
  min-height: 100vh;
  display: contents;

  /* Color Formatting -----------------*/
  color: var(--text);
  background-color: var(--background);
  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  /* Font Formating -------------------*/
  line-height: 1.6;
  font-family: 'OpenDyslexic';
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FIXES OVERSCROLLING COLOR ISSUES!!!!!!! deve*/
html {
  background-color: var(--background);
}



