@import './base.css';

#app {
  display: contents;
}

a,
.tb-purple {
  text-decoration: none;
  color: var(--ac-links);
  /* transition: 0.4s; */
  padding: 3px;
}

svg {
  width: 100%;
  height: 100%;
  /* color: var(--text); */
}

@media (hover: hover) {
  a:hover {
    background-color: var(--ac-links-highlight);
  }
}

@media (min-width: 1024px) {


  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}




