<!DOCTYPE html>
<html>
    <head>
        <title>Learning Vue</title>
        <style>
            .box {
                background-color: blueviolet;
            }
            [v-cloak] {
                display: none;
            }
            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <login-form /> <!-- this is a custom component! this behaviour is defined after the vue.create app, but before it is mounted!-->
            <input v-on:keyup.enter="greet(testVar + '!!!')" v-model="testVar" />

            <hr />

            <button v-on:click="toggleBox">Toggle Box</button> <!-- you can replace the v-on: with a '@' symbol! -->


            <div v-if="isVisible" class="box"></div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                        testVar: 'passing throungh a variable!',
                        greeting: 'Hello There!',
                        passToFunc: '',
                        isVisible: false
                    }
                },
                methods: {
                    toggleBox() {
                        this.isVisible = !this.isVisible;
                    },
                    greet(testVar) {
                        console.log(testVar)
                    }

                }
            })
            app.component('login-form', {
                template: `
                    <form @submit.prevent="handleSubmit"> <!-- the.prevent tag stops the default behaviour of refreshing the page! -->
                        <h1>{{title}}</h1>

                        <!-- <p v-for='(str, i) in loginInputsArray' :key="i">{{str}}</p> An example of using a loop!-->

                        
                        <login-input 
                            v-for="(input, i) in loginInputsArray"
                            :key="i"
                            v-model="input.value"
                            :label="input.label"
                            :type="input.type"
                        /> 
                        
                        <!-- the shorthand for a v-bind is to just use a ':' -->
:
                        <button>Log in</button>
                    </form>
                `,
                components: ['login-input'],
                data () {
                    return {
                        title: 'Login Form',
                        
                        loginInputsArray: [
                            {
                                label: 'Email',
                                type: 'email',
                                value: ''
                            },
                            {
                                label: 'Password',
                                type: 'password',
                                value: ''
                            },
                            {
                                label: 'Confirm Password',
                                type: 'password',
                                value: ''
                            }
                        ]
                    }
                },
                methods: {
                    handleSubmit() {
                        console.log(this.loginInputsArray[0].value, this.loginInputsArray[1].value, 'submitted!!')
                    }
                }
            })
            app.component('login-input', {
                template: `
                    <label>
                        {{label}}
                        <input :type="type" v-model="inputValue"> <!-- again, the v-model will bind to a variable -->
                    </label>
                `,
                props: ['label', 'type', 'modelValue'], //this gives the child component another prop of whatever v-model we are using
                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue
                        },
                        set (inputValue) {
                            //console.log(inputValue)
                            this.$emit('update:modelValue', inputValue) // $emit emits events that other components can listen to!
                        }
                    }
                }

                //we jump through all these hoops because the children cannot mutate variables from a parent! instead we bind them togethor!
                
                //data () {
                //    return {
                //        inputValue: ''
                //    }
                //}
            })
            app.mount('#app')

        </script>
    </body>
</html>