<!DOCTYPE html>
<html>
    <head>
        <title>Learning Vue</title>
        <style>
            .box {
                background-color: blueviolet;
                height: 200px;
                width: 200px;
            }
            [v-cloak] {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            {{testVar}}
            <input v-on:keyup.enter="greet(testVar + '!!!')" v-model="testVar" />

            <hr />

            <button v-on:click="toggleBox">Toggle Box</button>


            <div v-if="isVisible" class="box"></div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <script>
            let app = Vue.createApp({
                data: function() {
                    return {
                        testVar: 'passing throungh a variable!',
                        greeting: 'Hello There!',
                        passToFunc: '',
                        isVisible: false
                    }
                },
                methods: {
                    toggleBox() {
                        this.isVisible = !this.isVisible;
                    },
                    greet(testVar) {
                        console.log(testVar)
                    }

                }
            })
            app.mount('#app')

        </script>
    </body>
</html>